#main-contents{
    background-color:aliceblue;    
    width:66%;
    height:1080px;
    margin:auto;
    border-radius: 100px;
}
#main-title{
    width:100%;
    text-align: center;
    font-size: 60px;
    font-size: 3.5vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color:rgb(131, 175, 222);
}

button {
    background-color: rgb(103, 103, 198) ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
    border-radius:12px;
  }

button#timertoggle{
    height: 20%;
    width:100%;
    font-size: 5vw;
}

h1#total-title{
    margin-top:15vw;
    text-align:center;
    font-size:6vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p#totaltext{
    text-align:center;
    font-size:6vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}